.footer {
  background-color: transparent;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__rules-link {
  padding: 12px 17px;
  margin-bottom: 22px;
  border-radius: 8px;
  border: 1px dashed #2856a8;
  background-color: #ffffff;
  color: #2856a8;
  font-family: "RotondaC", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.56px;
  text-decoration: none;
}

.footer__rules-label {
  color: #ffffff;
  font-family: "RotondaC", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.48px;
  position: relative;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 17px;
}

.footer__rules-label::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 6px;
  right: -20px;

  border: 2px solid #f1d02f;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

.footer__user-agreement {
  color: #ffffff;
  font-family: "RotondaC", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}
