.social {
  background-color: #ffffff;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #666666;
}

.social__link:hover {
  box-shadow: 0 0 5px #2856a8;
  border-color: #ffffff;
}

.social__link--ok {
  border-color: #ef8116;
}

.social__link--fb {
  border-color: #3a589b;
}

.social__link--tw {
  border-color: #3aaae3;
}

.social__link--vk {
  border-color: #567da4;
}
