.widget {
  background-color: #2856a8;
  font-family: "ALSSchlangesans", "Arial", sans-serif;
  border-radius: 15px;
}

.widget__headline {
  font-family: "RotondaC", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.64px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 21px 33px 14px 18px;
}

.widget__order-number {
  color: #f1d02f;
}
